body {
  background-color: #0a2540;
  font-family: 'Manrope', sans-serif;
  color: #ffffff;
}

/* ----- HEADER ---- */

.navbar {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;

  background-color: #0a2540;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  height: 25px;
  text-decoration: none;
}

.navbar_links {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar_link {
  color: white;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.navbar_link_main {
  background-color: #5748af;
  padding: 9px 37px;
  border-radius: 5px;
  text-transform: uppercase;
}

.navbar_menu {
  background-color: transparent;
  border: none;
}

.navbar_menu_icon {
  height: 30px;
  display: none;
}

/* ----- MAIN ---- */

main {
  background-color: #0a2540;
}

.title {
  width: fit-content;
  margin: 75px auto 50px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}

.subtitle {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  line-height: 29px;
}

.cards-container {
  max-width: 1300px;
  margin: 85px auto;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: stretch;
  justify-content: center;
}

.card {
  width: 30%;
  padding: 35px 25px 45px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: stretch;

  background-color: #ffffff;
  color: #0a2540;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.card-img {
  width: 88px;
  border-radius: 50%;
}
.card-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.card_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.card:nth-child(3n + 1) > .card-title {
  color: #ef7d00;
}
.card:nth-child(3n + 2) > .card-title {
  color: #cf0d63;
}
.card:nth-child(3n + 3) > .card-title {
  color: #522773;
}
/* ----- FOOTER ---- */

.footer {
  background-color: #e5e5e5;
}

.footer_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 50px 125px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_logo_image {
  height: 95px;
}

.footer_links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer_link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_link {
  font-weight: normal;
  font-size: 14px;
  color: #0a2540;
  text-transform: uppercase;
  text-decoration: none;

  width: 185px;
  height: 20px;
  border-left: 2px solid #d6d7e5;
  padding: 3px 15px;
  box-sizing: border-box;
}

.footer_link_main {
  width: fit-content;
  height: fit-content;
  background-color: #5748af;
  padding: 15px 58px;
  border-radius: 5px;

  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  color: white;
}

@media (max-width: 1100px) {
  .navbar_links {
    gap: 15px;
  }

  .footer_link {
    width: 150px;
  }
  .footer_link_main {
    padding: 15px 25px;
  }
}

@media (max-width: 950px) {
  .navbar_links {
    display: none;
    position: absolute;
    right: 55px;
    top: 85px;

    flex-direction: column;
    gap: 0;
    background-color: #071c30;
    border-radius: 10px;
    border: 1px solid #e5e5e5;

    overflow: hidden;

    box-shadow: 5px 5px 10px #0006;
  }
  .navbar_link {
    text-align: center;
    padding: 20px 0;
    width: 225px;
    font-size: 18px;
    border-radius: 0;
    border-collapse: collapse;
    border-bottom: 1px solid #e5e5e5;
    color: #e5e5e5;
  }

  .show_menu {
    display: flex;
  }

  .navbar_link:last-of-type {
    border-bottom: none;
  }

  .navbar_menu_icon {
    display: block;
  }

  .card {
    width: 45%;
  }

  .footer_container {
    max-height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 40px 50px 75px;
  }
  .footer_links {
    flex-direction: column;
    order: 2;
  }

  .footer_link-container {
    gap: 5px;
  }
  .footer_link_main {
    order: 1;
  }
}

@media (max-width: 550px) {
  .cards-container {
    padding: 25px;
  }

  .card {
    width: 100%;
  }

  .title {
    width: 80%;
    margin: 50px auto 25px;
    font-size: 36px;
  }

  .subtitle {
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 400px) {
  .footer_container {
    max-height: none;
    gap: 30px;
  }

  .footer_links {
    flex-direction: column;
    order: 0;
  }
}
