body {
  background-color: #0a2540;
  font-family: 'Manrope', sans-serif;
  color: #ffffff;
}

/* ----- HEADER ---- */

.navbar {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;

  background-color: #0a2540;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_logo {
  height: 25px;
  text-decoration: none;
}

.navbar_links {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navbar_link {
  color: white;
  text-decoration: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
}

.navbar_link_main {
  background-color: #5748af;
  padding: 9px 37px;
  border-radius: 5px;
  text-transform: uppercase;
}

/* ----- MAIN ---- */

main {
  background-color: #0a2540;
}

.title {
  width: fit-content;
  margin: 75px auto 50px;
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
}

.subtitle {
  width: 580px;
  margin: 0 auto;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  line-height: 29px;
}

.cards-container {
  max-width: 1300px;
  margin: 85px auto;
  padding: 50px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: stretch;
  justify-content: center;
}

.card {
  width: 30%;
  padding: 35px 25px 45px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: stretch;

  background-color: #ffffff;
  color: #0a2540;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.card-img {
  width: 88px;
  border-radius: 50%;
}
.card-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
}

.card_text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.card:nth-child(3n + 1) > .card-title {
  color: #ef7d00;
}
.card:nth-child(3n + 2) > .card-title {
  color: #cf0d63;
}
.card:nth-child(3n + 3) > .card-title {
  color: #522773;
}
/* ----- FOOTER ---- */

.footer {
  background-color: #e5e5e5;
}

.footer_container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 80px 50px 125px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_logo_image {
  height: 95px;
}

.footer_links {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer_link-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer_link {
  font-weight: normal;
  font-size: 14px;
  color: #0a2540;
  text-transform: uppercase;
  text-decoration: none;

  width: 185px;
  height: 20px;
  border-left: 2px solid #d6d7e5;
  padding: 3px 15px;
  box-sizing: border-box;
}

.footer_link_main {
  width: fit-content;
  height: fit-content;
  background-color: #5748af;
  padding: 15px 58px;
  border-radius: 5px;

  font-weight: bold;
  font-size: 15px;
  line-height: 120%;
  color: white;
}
